{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <!-- FORM HERE -->
       <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Upload Image</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Upload</button>
            </div>
        </form>
    </div>

    <div class="content-section">
        {% if data %}
            <img width="100%" src="{{ img }}">

            <h3>Top matches : </h3>

            {% for key,value in data.FaceMatches.items %}
                <p class='mt-2'>{{ value.name }} ( {{ value.confidence }}% match )</p> <br>

            {% endfor %}
        {% else %}
            <p>Kindly upload an image...</p>
        {% endif %}

    </div>

{% endblock content %}
